@model Book

@{
    ViewData["Title"] = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="book text-center">
    <h1 class="display-4">My Shelved Book</h1>
</div>

<div class="book text-center">
    <div class="row">
        <div class="centered">
            <img class="book-header__image" src="data:image/jpg;base64,@Model.Cover" alt="Book Cover" style="width:200px; height:auto" />
            <h2 class="book-header__title"><a href="@Model.Link">@Model.Title</a></h2>
            <div class="book-header__byline">By @Model.Author</div>
            <div class="book-header__servings">Year Published: @Model.Year</div>
            <div class="book-header__time"> @Model.Pages pages</div>
            <div class="book-header__timesRead"> Read @Model.TimesRead times</div>
            @if (@Model.TimesRead > 0)
            {
                <div class="book-header__TimeFinished"><i>@ViewBag.TimeFinished</i></div>
            }
            <div class="btn-toolbar" role="toolbar" style="padding-top:20px">
                <a href="/Home/FinishedBook/@Model.Id"><button class="btn btn-success btn-lg" style="width:250px" onclick="RateNextBook">I Finished This Book!</button></a>
                <div style="display:inline-block; width:20px"></div>
                <a href="/Home/RemoveBookFromShelf/@Model.Id"><button class="btn btn-danger btn-lg">Remove Book From My Shelf</button></a>
            </div>
            
        </div>
    </div>
</div>

<style>
    .centered {
        margin: auto;
        float: none;
    }
</style>

